/**
 * Variables and Bootstrap overrides
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rosem\/Software\/play\/template\/ui\/src\/sass\/main\.scss}line{font-family:\000034}}
body {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px; }
